<footer class="footer">
    <div class="footer-top d-flex align-items-center ">
        <div class="container-fluid container-xl">
            <div class="d-flex align-items-center row">
                <!--1-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4 class="text-white">Đăng ký nhận Email</h4>
                    <span class="text-white">Đăng ký nhận thông tin sách mới,sách bán</span>
                </div>
                <!--2-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <form class="d-flex align-items-center justify-content-between ">
                        <input type="email" class="form-control " placeholder="Nhập email">
                        <button class="btn btn-primary" type="submit">Đăng ký ngay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-xl">
        <div class="row ">
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <h3 class="footer-title ">Về công ty</h3>
                <ul class="footer-menu">
                    <li class="item"><a>Giới thiệu công ty</a></li>
                    <li class="item"><a>Tuyển dụng</a></li>
                    <li class="item"><a>Chương trình đại lý</a></li>
                    <li class="item"><a>Chính sách bảo mật</a></li>
                    <li class="item"><a>Chính sách đổi trả</a></li>
                </ul>
            </div>
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <h3 class="footer-title ">Trợ giúp</h3>
                <ul class="footer-menu">
                    <li class="item"><a>Quy định sử dụng</a></li>
                    <li class="item"><a>Hướng dẫn mua hàng</a></li>
                    <li class="item"><a>Phương thức thanh toán</a></li>
                    <li class="item"><a>Phương thức vận chuyển</a></li>
                    <li class="item"><a>Ứng dụng đọc e-book</a></li>
                </ul>
            </div>
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <h3 class="footer-title ">Tin tức sách</h3>
                <ul class="footer-menu">
                    <li class="item"><a>Tin tức</a></li>
                    <li class="item"><a>Chân dung</a></li>
                    <li class="item"><a>Điểm sách</a></li>
                    <li class="item"><a>Phê bình</a></li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <h3 class="footer-title ">Thường được tìm kiếm</h3>
                <ul class="footer-menu">
                    <li class="item"><a>truyện dan brown</a></li>
                    <li class="item"><a>sách hay về gia đình</a></li>
                    <li class="item"><a>sách học tiếng trung</a></li>
                    <li class="item"><a>sách blockchain</a></li>
                    <li class="item"><a>sách khởi nghiệp</a></li>
                    <li class="item"><a>sách quản lý nhân sự</a></li>
                </ul>
            </div>
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <ul class="footer-menu pt-4 mt-2">
                    <li class="item"><a>sách warrent buffet </a></li>
                    <li class="item"><a>giáo trình tiếng anh trẻ em</a></li>
                    <li class="item"><a>tiểu thuyết tình yêu</a></li>
                    <li class="item"><a>sách du học</a></li>
                    <li class="item"><a>sách bán hàng</a></li>
                    <li class="item"><a>sách về quản trị kinh doanh</a></li>
                </ul>
            </div>
            <div class="py-3 col-12 col-md-6 col-lg-4">
                <ul class="footer-menu pt-4 mt-2">
                    <li class="item"><a>sách digital makerting</a></li>
                    <li class="item"><a>sách hay về kinh tế</a></li>
                    <li class="item"><a>sách y học</a></li>
                    <li class="item"><a>sách kỹ năng mềm</a></li>
                    <li class="item"><a>sách về đầu tư chứng khoán</a></li>
                    <li class="item"><a>sách tài chính</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container d-flex gap-4 justify-content-between">
            <div>
                <img src="/img/footer_logobct.png" alt="logo" class="img img-fluid img-thumbnail">
            </div>
            <div>
                <h5>CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ MÊ KÔNG COM</h5>
                <p>
                    Địa chỉ: Hà Nội, Hồ Chí Minh, Quận 1, TP.HCM, Đường Đức Thắng, Tổng thống 15, Số 1, Cấp 1,
                    Q.Đ.M.1, Hà Nội
                </p>
                <p>Email: hotro@vinabook.com</p>
                <p>Số điện thoại: +84 999 999 999</p>
            </div>
        </div>
    </div>
</footer>

